openapi: 3.0.0
info:
  description: This is a simulator for secure IoT middleware.
  version: 1.0.0
  title: IoT Secure Middleware Simulator
  contact:
    email: pascal.gremaud@unifr.ch
servers:
  - description: Live server instance 
    url: https://iot-simulator.decensor.yt
  - description: Localhost server
    url: http://localhost:3000
tags:
  - name: action messages
  - name: action templates
  - name: action types
  - name: clients
  - name: events
  - name: event types
  - name: rules
paths:
  /action-messages/:
    get: 
      tags:
        - action-messages
      responses:
        '200': 
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActionMessage'
    post:
      tags: 
        - action-messages
      responses: 
        '201': 
          description: created
  /actiontypes/:
    get:
      tags: 
        - action types
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ''#/components/schemas/ActionType''
    post: 
      tags: 
        - action types
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionType'
        '400':
          description: invalid input
      requestBody:
        $ref: '#/components/requestBodies/ActionType'
    delete:
      tags: 
        - action types
      responses: 
        '204':
          description: no content
  /actiontypes/{actionTypeId}:
    get:
      tags: 
        - action types
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionType'
        '400':
          description: invalid parameter
        '404': 
          description: not found
      parameters:
        - name: actionTypeId
          in: path
          description: ID of action type to return
          required: true
          schema:
            type: integer
    put:
      tags: 
        - action types
      parameters:
        - name: actionTypeId
          in: path
          description: ID of action type to update
          required: true
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/ActionType'
      responses:
        '200': 
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionType'
        '400':
          description: Invalid input
        '404':
          description: Not found
    delete:
      tags: 
        - action types
      parameters:
        - name: actionTypeId
          in: path
          description: ID of action type to delete
          required: true
          schema:
            type: integer
      responses: 
        '204':
          description: no content
        '400':
          description: invalid parameter
        '404': 
          description: not found
  /clients/:
    get:
      tags: 
        - clients
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Client'
    post: 
      tags: 
        - clients
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '400':
          description: invalid input
      requestBody:
        $ref: '#/components/requestBodies/Client'
    delete:
      tags: 
        - clients
      responses: 
        '204':
          description: no content
  /clients/{clientId}:
    get:
      tags: 
        - clients
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '400':
          description: invalid parameter
        '404': 
          description: not found
      parameters:
        - name: clientId
          in: path
          description: ID of client to return
          required: true
          schema:
            type: integer
    put:
      tags: 
        - clients
      parameters:
        - name: clientId
          in: path
          description: ID of client to update
          required: true
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/Client'
      responses:
        '200': 
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '400':
          description: Invalid input
        '404':
          description: Not found
    delete:
      tags: 
        - clients
      parameters:
        - name: clientId
          in: path
          description: ID of client to delete
          required: true
          schema:
            type: integer
      responses: 
        '204':
          description: no content
        '400':
          description: invalid parameter
        '404': 
          description: not found
  /eventtypes/:
    get:
      tags: 
        - event types
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ''#/components/schemas/EventType''
    post: 
      tags: 
        - event types
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventType'
        '400':
          description: invalid input
      requestBody:
        $ref: '#/components/requestBodies/EventType'
    delete:
      tags: 
        - event types
      responses: 
        '204':
          description: no content
        '409':
          description: conflict with related resource
  /eventtypes/{eventTypeId}:
    get:
      tags: 
        - event types
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventType'
        '400':
          description: invalid parameter
        '404': 
          description: not found
      parameters:
        - name: eventTypeId
          in: path
          description: ID of event type to return
          required: true
          schema:
            type: integer
    put:
      tags: 
        - event types
      parameters:
        - name: eventTypeId
          in: path
          description: ID of event type to update
          required: true
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/EventType'
      responses:
        '200': 
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventType'
        '400':
          description: Invalid input
        '404':
          description: Not found
    delete:
      tags: 
        - event types
      parameters:
        - name: eventTypeId
          in: path
          description: ID of event type to delete
          required: true
          schema:
            type: integer
      responses: 
        '204':
          description: no content
        '400':
          description: invalid parameter
        '404': 
          description: not found
        '409':
          description: conflict with related resource
  /rules/:
    get:
      tags: 
        - rules
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rule'
    post: 
      tags: 
        - rules
      responses:
        '201':
          description: created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'
        '400':
          description: invalid input
      requestBody:
        $ref: '#/components/requestBodies/Rule'
    delete:
      tags: 
        - rules
      responses: 
        '204':
          description: no content
  /rules/{ruleId}:
    get:
      tags: 
        - rules
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'
        '400':
          description: invalid parameter
        '404': 
          description: not found
      parameters:
        - name: ruleId
          in: path
          description: ID of rule to return
          required: true
          schema:
            type: integer
    put:
      tags: 
        - rules
      parameters:
        - name: ruleId
          in: path
          description: ID of rule to update
          required: true
          schema:
            type: integer
      requestBody:
        $ref: '#/components/requestBodies/Rule'
      responses:
        '200': 
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'
        '400':
          description: Invalid input
        '404':
          description: Not found
    delete:
      tags: 
        - rules
      parameters:
        - name: ruleId
          in: path
          description: ID of rule to delete
          required: true
          schema:
            type: integer
      responses: 
        '204':
          description: no content
        '400':
          description: invalid parameter
        '404': 
          description: not found
components:
  schemas:
    ActionMessage: 
      type: object
      properties:
        id:
          type: integer
        message: 
          type: string
        timestamp: 
          type: string
        eventId: 
          type: integer
        ruleId: 
          type: integer
        actionTemplateId:
          type: integer
    ActionType:
      type: object
      properties:
        id:
          type: integer
        name: 
          type: string
        schema:
          type: object
    Client: 
      type: object
      properties:
        id: 
          type: integer
        name: 
          type: string
        isAdmin: 
          type: boolean
        isActive:
          type: boolean
    EventType:
      type: object
      properties:
        id: 
          type: integer
        name: 
          type: string
        schema:
          type: object
    Rule:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        eventTypeId:
          type: integer
        function:
          type: string
        isActive:
          type: boolean
        context:
          type: object

  requestBodies:
    ActionType:
      content:
        application/json:
          schema:
            type: object
            properties:
              name: 
                type: string
              schema:
                type: object
      required: true
    Client:
      content:
        application/json:
          schema:
            type: object
            properties:
              name: 
                type: string
              isAdmin:
                type: boolean
              isActive:
                type: boolean
      required: true
    EventType:
      content:
        application/json:
          schema:
            type: object
            properties:
              name: 
                type: string
              schema:
                type: object
      required: true
    Rule:
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                type: string
              eventTypeId:
                type: integer
              function:
                type: string
              isActive:
                type: boolean
              context:
                type: object
